{# The footer of cbadatos.com.ar: one line, the logo and the description
   of the site. No link columns, no "Powered by CKAN" bar, no language
   selector (the site is in Spanish only). Replaces the theme's footer. #}
<footer>
  <div class="site-footer">
    <div class="container">
      <div class="cba-footer">
        <a class="cba-footer-brand" href="{{ h.url_for('home.index') }}">
          <img class="cba-footer-logo" src="/images/cba-datos-logo-white.svg" alt="cba datos" width="47" height="40">
        </a>
        <p class="cba-footer-text">{{ g.site_description }}</p>
      </div>
    </div>
  </div>
</footer>
